# Readme.md
README.md @sam-marx @ShowTiime

# chatterbot em python
/Python/chatterbot.md @kuroninho

# recomendados
recomendados.md @kuroninho

# sistemas de aprendizado pt_1
/tutoriais/sistemas_de_aprendizado_parte1.md @kuroninho
